{
  "extends": [
    "eslint:all",
    "plugin:ava/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "ava"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true
  },
  "rules": {
    "id-length": [
      "error",
      {
        "min": 2,
        "exceptions": [
          "_",
          "$",
          "i",
          "j",
          "x",
          "y",
          "e"
        ]
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "semi": [
      "error",
      "always"
    ],
    "max-lines": [
      "error",
      {
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "max-len": [
      "error",
      120
    ],
    "max-params": [
      "error",
      10
    ],
    "padded-blocks": [
      "error",
      "never"
    ],
    "func-style": [
      "error",
      "declaration"
    ],
    "object-property-newline": [
      "error",
      {
        "allowMultiplePropertiesPerLine": true
      }
    ],
    "dot-location": [
      "error",
      "property"
    ],
    "consistent-this": [
      "error",
      "self"
    ],
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "ignore",
          ":": "ignore"
        }
      }
    ],
    "prefer-destructuring": "off",
    "object-curly-newline": "off",
    "quotes": "off",
    "indent": "off",
    "no-multi-spaces": "off",
    "init-declarations": "off",
    "no-magic-numbers": "off",
    "no-console": "off",
    "no-sync": "off",
    "lines-around-comment": "off",
    "sort-imports": "off",
    "sort-vars": "off",
    "spaced-comment": "off",
    "sort-keys": "off",
    "max-statements": "off",
    "no-mixed-operators": "off",
    "no-param-reassign": "off",
    "key-spacing": "off",
    "no-ternary": "off",
    "no-plusplus": "off",
    "multiline-ternary": "off",
    "require-await": "off"
  }
}
